form{
    display: flex;
    flex-direction: column;
    float: right;
    justify-content: space-around;
    height: 300px;
    border: 1px gray solid;
    width: 600px;
}
.zadiv{
    display: flex;
    flex-direction:row ;
    justify-content: space-between;
}
input{
    height: 30px;
}
.butdiv{
    width: 595px;
    height: 30px;
    display: flex;
    justify-content: center;

}
