body{
    background-color: green;
}
button::before{
    background-color: blue;
    font-size: 15px;
    border-radius: 8px;
}
button{
    
    background-color: none;
    font-size: 15px;
    border: 2px solid white;
    border-radius: 8px;
    transition: 0.5s;
    width:300px;
}
button:hover{
    
    width: 450px;
    height: 40px;
    animation-duration: 3s;
    animation-name: example;

}

@keyframes example {
    0% {
        background-color: white;
        color: green
    }
    50%{
        transform: rotate(360deg);
    }
}


