.header{
    background-color: rgb(19, 19, 19);
    display: flex;
    justify-content: space-between;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
}
.levidiv{
    min-width: 45%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
i{
    
    color: white;
    font-size:20px ;
}
.malidiv:hover{
    background-color: lightgreen;
    
}
.hamburger{
    visibility: hidden;
}

/* @media screen and (max-width:1085px){
    width: 44px;

} */
@media screen and (max-width:480px){
    .malidiv{
        width: 0px;
    }
    .hamburger{
        visibility: visible;
    }
}